:root{
    --greenish: #122C34;
    --blue-1:#274C77;
    --blue-2:#6096BA;
    --blue-3:#4EA5D9;
    --blue-4:#A3CEF1;
}
#conteudo{
    background-color:var(--blue-4);
    height:100vh;
}
#sorteio, #rifa, #rifa_n_info, #cadastro_rifa, #left-side{
    display:none;
}

#navbar {
    background-color:var(--blue-1);
    min-height:5vh;
    min-width: 100vw;
}

#navbar button{
    border:none;
    background-color: var(--blue-1);
    color:white;
    font-size:3vh;
}

#left-side{
    float:left;
    height:95vh;
    width:20vw;
    background-color:var(--blue-2);
}
#left-side-back{
    text-align:right;
}
#left-side-back button{
    border: solid 1px white;
    background-color:var(--blue-1);
    color:white;
}
.left{
    margin-top:2vh;
}

#center-side{
    width:70vw;
    height:95vh;
}
/* Sorteio */
#sorteio {
    max-height:10vh;
}
#sorteado{
    min-height:10vh;
    display:table
}

#sorteado div{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width:70vw;
}

#sorteado2 {
    max-height:95vh;
}
#texto{
    resize:none;
    width:35vw;
}

@media (max-width:600px){
    #texto{
        width:15vw;
    }
}


/* Rifa */
#rifa{
    display:table;
}

.center-side{
    width:70vw;
    text-align:center;
}

#result{
    display:table-cell;
    vertical-align: middle;
    width:70vw;
    height:30vh;
    font-size:3vh;
}

#rifa .rifa_numbers button{
    border:none;
    font-size:1vw;
    width:2.5vw;
    margin:0.10vw;
    text-align:center;
    background-color: green;
    border-radius:5px;
    min-width:30px;
}

.rifa_numbers button label {
    color:white;
    cursor:pointer;
    font-size:14px;
}

#n_info{
    margin-top:2vh;
}

.selected{
    background-color:rgb(240, 80, 80) !important;
}

/* Cadastro */

#cadastro label{
    display:inline-block;
    width:140px;
    text-align:center;
}

#cadastro input{
    margin-bottom: 1vh;
}