:root{
    --greenish: #122C34;
    --blue-1:#274C77;
    --blue-2:#6096BA;
    --blue-3:#4EA5D9;
    --blue-4:#A3CEF1;
}
#conteudo{
    background-color:var(--blue-4);
    display:table;
    height:95vh;
}
footer{
    background-color:var(--greenish);
    color:var(--blue-3);
    text-align:right;
    height:5vh;
}
footer a{
    font-size: 3vh;
    text-decoration: none;
}

footer span{
    margin:10px 10px 10px 10px;
}

footer a:hover{
    color:var(--blue-3);
    text-decoration:none;
}

footer img{
    width:20px;
    height:20px;
}

@media(max-width:800px){
    footer img{
        display:none;
    }
}
#sorteio, #rifa_n_info, #cadastro_rifa, #left-side, #rifa{
    display:none;
}

#navbar {
    background-color:var(--blue-1);
    position:relative;
    min-width: 100vw;
    min-height:5vh;
}

#navbar button{
    background-color: var(--blue-1);
    font-size:3vh;
    color:white;
    border:none;
}
#navbar button.separated{
    color:rgb(223, 70, 70);
    position:absolute;
    font-weight: 800;
    margin-left:3vw;
    font-size:3vh;
    bottom:0;
}
#left-side{
    background-color:var(--blue-2);
    position:absolute;
    height:95vh;
    float:left;
    width:20vw;
    left:0;
}
#left-side-back{
    text-align:right;
}
#left-side-back button{
    background-color:var(--blue-1);
    border: solid 1px white;
    color:white;
}
.left{
    margin-top:2vh;
}

#center-side{
    height:95vh;
    width:80vw;
    z-index:-1;
   
}
@media(max-width:800px){
    #left-side{
        width:40vw;
    }
}
@media(max-width:500px){
    #left-side{
        width:55vw;
    }

    #navbar button.separated{
        position:relative;
        font-size:2.5vh;
        margin-left:1vw;
    }
    
}
/* Sorteio */
#sorteio {
    text-align:center;
    max-height:10vh;
}
#sorteado{
    text-align:center;
    min-height:10vh;
}

#sorteado div{
    vertical-align: middle;
    text-align:center;
    width:auto;
}

#sorteado2 {
    text-align:center;
    max-height:95vh;
}
#texto{
    resize:none;
    width:35vw;
}

#resultado{
    width:20vw;
}
@media(max-width:800px){
    #texto{
        width:50vw;
    }
}
@media (max-width:600px){
    #texto{
        width:90vw;
    }
}


/* Rifa */


#result{
    vertical-align: middle;
    display:table-cell;
    font-size:3vh;
    height:30vh;
    width:100vw;
}

#rifa .rifa_numbers button{
    background-color: green;
    text-align:center;
    border-radius:5px;
    min-width:30px;
    font-size:1vw;
    margin:0.10vw;
    width:2.5vw;
    border:none;
}

.rifa_numbers button label {
    font-size:14px;
    cursor:pointer;
    color:white;
}

#n_info{
    margin-top:2vh;
}

.selected{
    background-color:rgb(240, 80, 80) !important;
}

/* Cadastro */

#cadastro label{
    display:inline-block;
    text-align:center;
    width:140px;
}

#cadastro input{
    margin-bottom: 1vh;
}