:root{
    --greenish: #122C34;
    --blue-1:#274C77;
    --blue-2:#6096BA;
    --blue-3:#4EA5D9;
    --blue-4:#A3CEF1;
}
#conteudo{
    background-color:var(--blue-4);
    display:table;
    height:100vh;
}
#sorteio, #rifa_n_info, #cadastro_rifa, #left-side, #rifa{
    display:none;
}

#navbar {
    background-color:var(--blue-1);
    min-width: 100vw;
    min-height:5vh;
}

#navbar button{
    background-color: var(--blue-1);
    color:white;
    font-size:3vh;
    border:none;
}
#navbar button.separated{
    color:rgb(223, 70, 70);
    font-size:2.5vh;
    float:right;
}
#left-side{
    background-color:var(--blue-2);
    position:absolute;
    height:95vh;
    float:left;
    width:20vw;
    left:0;
}
#left-side-back{
    text-align:right;
}
#left-side-back button{
    background-color:var(--blue-1);
    border: solid 1px white;
    color:white;
}
.left{
    margin-top:2vh;
}

#center-side{
    height:95vh;
    width:80vw;
    z-index:-1;
   
}

@media(max-width:450px){
    #left-side{
        width:55vw;
    }
    
    
}
/* Sorteio */
#sorteio {
    text-align:center;
    max-height:10vh;
}
#sorteado{
    text-align:center;
    min-height:10vh;
}

#sorteado div{
    vertical-align: middle;
    text-align:center;
    width:auto;
}

#sorteado2 {
    text-align:center;
    max-height:95vh;
}
#texto{
    resize:none;
    width:35vw;
}

#resultado{
    width:20vw;
}

@media (max-width:600px){
    #texto{
        width:15vw;
    }
}
@media(max-width:450px){
    #sorteado2{

    }
    #texto{
        width:90vw;
    }
}


/* Rifa */


#result{
    display:table-cell;
    vertical-align: middle;
    width:100vw;
    height:30vh;
    font-size:3vh;
}

#rifa .rifa_numbers button{
    border:none;
    font-size:1vw;
    width:2.5vw;
    margin:0.10vw;
    text-align:center;
    background-color: green;
    border-radius:5px;
    min-width:30px;
}

.rifa_numbers button label {
    color:white;
    cursor:pointer;
    font-size:14px;
}

#n_info{
    margin-top:2vh;
}

.selected{
    background-color:rgb(240, 80, 80) !important;
}

/* Cadastro */

#cadastro label{
    display:inline-block;
    width:140px;
    text-align:center;
}

#cadastro input{
    margin-bottom: 1vh;
}